/* fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* common styles and utilities */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* banner section styles */
header{
    background: #2D25A0;
}
.banner{
 display: flex;
 justify-content: space-evenly;
 align-items: center;
}
.banner-heading{
    width: 485px;
    height: 230px;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
}
.link-open{
    font-size: 16px;
    line-height: 24px;
    background: #E02C6D;
    text-decoration: none;
    padding: 10px 24px;
    color: #FFFFFF;
}
.banner .banner-info a:hover{
    background: #FFFFFF;
    color:#E02C6D;
    transition: 1s ease-in-out;
}
.banner-image img{
    margin-top: 100px;
    margin-bottom: 50px;
    width: 556.01px;
    height: 438px;
}
.banner-image img:hover{
    transform: scale(1.2);
    transition: transform 1s ease-in-out;
}

/* star players section style  */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}   
.star-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    grid-row-gap: 27px;
}
.player{
    padding: 15px;
    width: 330px;
    height: 474px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img{
    width: 300px;
    height: 256px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.player-name{
    font-size: 28px;
    margin: 10px 10px;
}
.player-info{
    font-size: 16px;
    color: #6C6C6C;
    margin: 10px 10px;
}

/* footer section start  */
footer{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
.logo img{
    margin: 20px 0px;
    width: 483.87px;
    height: 110px;
}
.fab{
    Width: 32px;
    Height: 32px;
    margin: 0px 14px;
    color: gray;
}
.copyright{
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin: 20px 0px;
}

/* Extra small devices (portrait phones, less than 688px)*/
@media only screen and (max-width: 688px) { 
    .banner{
        justify-content: center;
        flex-direction: column;
       }
    .banner-heading{
        margin-top: 100px;
        width: 278px;
        height: 138px;
        font-size: 36px;
        line-height: 50px;
    }
    .link-open{
        width: 168px;
        height: 44px;
    }
    .banner-image img{
        margin-top: 50px;
        margin-bottom: 60px;
        width: 330px;
        height: 260px;
    }
    .star-players{
        grid-template-columns: repeat(1, 1fr);
      }
      .player {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .logo img{
        width: 150px;
        height: 65px;
    }
  }

/*Medium devices (tablets, 688px and up)*/
@media only screen and (min-width: 688px) and (max-width: 992px) {
    .banner-info{
        margin-bottom: 40px;
    }
    .banner-heading{
        margin-top: 100px;
        width: 278px;
        height: 138px;
        font-size: 36px;
        line-height: 50px;
    }
    .link-open{
        width: 168px;
        height: 44px;
    }
    .banner-image img{
        margin-top: 60px;
        margin-bottom: 40px;
        width: 330px;
        height: 260px;
    }
      .star-players {
        grid-template-columns: repeat(2, 1fr);
      }
  
}
/*Extra extra large devices (large desktops, 1400px and up)*/
@media only screen and (min-width: 992px) {

}
